@media screen and (max-width: 800px) {

    .phone_box,
    .star {
        display: none
    }

    .b-page__finalform .red-arrow {
        top: inherit;
        bottom: 0
    }

    .structure-ul {
        flex-wrap: wrap
    }

    .block3-cont .sale50 {
        left: 170px;
        bottom: 70px
    }

    .pack2-2 img {
        max-width: 270px;
        margin: auto;
        display: block
    }

    .b-page__line {
        width: 90%;
        padding: 0 5%
    }

    .b-head {
        height: 0
    }

    .b-head__logo {
        float: none;
        margin-top: 8%;
        height: auto
    }
}

.b-head__badge,
.b-head__badge img,
.header-info,
.logo-label,
.timer.desktop.timer-top {
    display: none
}

.b-head__badge {
    width: 100%;
    height: 125px;
    background: url(../images/badge.png) center no-repeat;
    float: none;
    position: inherit;
    top: 0;
    margin: 0 auto;
    right: 0
}

.tuv {
    width: 50px;
    padding: 0;
    float: right;
    margin-top: 0;
    margin-right: 0
}

.iso {
    width: 100px
}

.b-head__logo img {
    margin-top: 4%;
    width: 30%;
    display: none
}

.b-page__faces img {
    width: 100%
}

.logo-step2 {
    width: 30%
}

.price-badge {
    top: -50px;
    right: 10%
}

.b-page__header {

    min-height: 200px;
    width: 90%;
    padding: 0 5% 30px
}

.blue-title,
.redline {
    background-size: 100% auto
}

.logo-label {
    font-size: 13px;
    padding: 5px 10px;
    margin: 30px 0 0 15px
}

.logo-top-fix {
    width: 24%;
    position: fixed;
    top: 1%;
    min-width: 170px
}

.b-header {
    width: 100%;
    margin-left: 0
}

.blue-title {
    font-size: 24px;

}

.header-title {
    font-size: 40px;
    line-height: 50px;
    text-align: center
}

.header-italic {
    text-align: center;
    margin: 1%
}

#holder-top {
    width: 98%;
    margin: 0 auto
}

.u143-4 {
    text-align: left;
    margin: 10px auto
}

.button-m,
.info-4-m,
.old-price,
.price,
.price-badge-m,
.sposob-ul,
.structure-ul,
.timer-cont2,
.work-ul {
    text-align: center
}

.redline {
    margin: 30px 0;
    width: 288px;
    min-height: 150px;
    height: auto
}

.redline p {
    margin-top: 25px;
    padding-left: 35px;
    margin-bottom: 0
}

.pack {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    width: 100%;
    height: 200px;
    position: inherit;
    bottom: 0;
    left: 0
}

.button-m,
.header-info-m,
.info-4-m,
.price-badge-m {
    position: relative
}

.timer-top {
    float: right;
    margin-top: -31%;
    margin-right: 2%
}

.header-info-m {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: #fff;
    width: 350px;
    margin: 0 auto
}

.pack-m {
    width: 45%;
    float: left;
    margin-right: 4%
}

.pack-m img {
    max-width: 270px
}

.button-m {
    margin-top: 10%
}

.info-4-m {
    background: #F4D03F;
    font-size: 16px;
    color: #2c3e50;
    padding: 5px 10px;
    border: 2px dashed #000;
    margin: 5% auto 0;
    border-radius: 14px
}

.block6-right,
.effect-right {
    border-left: none;
    float: none
}

.price-badge-m {
    margin: 0 auto;
    top: 0;
    background: 0 0;
    color: #d84605;
    text-decoration: line-through;
    font-size: 24px;
    font-weight: 700
}

.timer-cont,
.timer-title {
    top: auto;
    position: inherit
}

.timer-cont {
    right: auto
}

.timer-title {
    left: auto
}

.price {
    float: none;
    font-size: 3.5em;
    margin: 0 auto
}

.order-btn {
    float: none;
    margin: 0 auto;
    min-width: 180px
}

.effect,
.effect-right h3 {
    margin-top: 30px
}

.effect-ul {
    text-align: center
}

.effect-ul__item {
    display: inline-block;
    float: none
}

.effect-left {
    width: 100%;
    float: none
}

.effect-left blockquote {
    padding-top: 0
}

.effect-right {
    width: 100%;
    margin-left: 0
}

.effect__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.number-one {
    width: 100%;
    padding-left: 0;
    padding-right: 0
}

.effect-right ul {
    width: 95%;
    padding-left: 5%
}

.block2-left {
    float: none;
    width: 100%;
    padding: 0;
    border-right: none;
    margin-right: 0
}

.block2-right {
    float: none;
    width: 100%;
    margin: 0
}

.block2img {
    width: 100%;
    height: 300px;
    background: url(../images/block2img.jpg) center no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain
}

.b-page__block3 {
    height: auto;
    background: #D4ECF6;
    margin-top: 0
}

.block3,
.block4 {
    background: 0 0;
    height: auto
}

.block3 {
    width: 90%;
    padding: 0 5%;
    margin: 30px auto
}

.block3-cont {
    max-width: 100%;
    float: none;
    padding-bottom: 1%
}

.hr {
    display: none
}

.block3-cont h3 {
    margin-top: 0;
    padding-top: 20px
}

.order-btn.btn2 {
    margin-top: 20px;
    margin-bottom: 20px
}

.block4-left,
.block4-right {
    width: 100%;
    float: none
}

.block4-bottom {
    width: 100%;
    position: inherit;
    left: 0;
    bottom: 0
}

.pack2-2,
.timer-cont2 {
    position: relative
}

.advantage {
    margin-bottom: 0;
    padding: 2% 0;
    height: auto
}

.advantage-left {
    margin-right: 15px
}

.advantage-right {
    width: 100%;
    height: auto;
    float: none;
    padding-bottom: 0px
}

.advantage-right.fix {
    border-bottom: 1px solid #78af00
}

.b-page__block5 {
    background: url(../images/plusmobile.jpg);
    height: auto;
    width: 100%
}

.order-btn.btn3 {
    margin: 20px auto;
    float: none
}

.block5 {
    width: 90%;
    padding: 0 5%;
    margin: 0 auto
}

.block5-title {
    margin: 30px 0
}

.block5-cont ul {
    width: 93%;
    margin: 0;
    padding-left: 7%
}

.block6,
.block6-left,
.block7__item,
.block7__item.right,
.spice {
    width: 100%
}

.block6 {
    margin: 0;
    padding-right: 0
}

.doc img {}

.block6-left {
    box-sizing: border-box;
    float: none;
    padding: 0
}

.b-block6 {
    background: 0 0;
    margin: 0;
    min-height: 350px
}

.block6-right {
    width: 100%;
    box-sizing: border-box;
    padding-left: 0;
    margin-left: 0
}

.order-btn.btn4 {
    margin-top: 10px
}

.spice {
    height: 300px;
    background-size: 100% auto;
    display: inline-block;
    margin-top: 0
}

.block7__item {
    box-sizing: border-box;
    float: none
}

.block8 {
    width: 90%;
    padding: 20px 5%;
    height: auto
}

.block8__item {
    width: 100%;
    box-sizing: border-box;
    float: none
}

.block8__item ul li {
    margin-bottom: 30px
}

.block8__item ul li span {
    float: none;
    height: 40px;
    width: 100%
}

.sposob-ul__item {
    display: inline-block;
    float: none;
    margin: 0 20px
}

.pack2,
.promo {
    display: none
}

.promo-right,
.promo-title {
    margin-right: 0;
    float: none
}

.block9 {
    width: 100%
}

.block9__item {
    padding: 20px
}

.rev-cont {
    padding-left: 0
}

.promo-title {
    color: #FA7D7D;
    margin-left: 0
}

.b-page__legs {
    height: auto;
    background: #D8ECF5
}

.b-legs {
    width: 99%;
    margin-top: 0;
    float: none;
    padding: 20px 0
}

.promo-left {
    float: none
}

.promo-right {
    width: 100%;
    margin-top: 30px
}

.promo-info {
    width: auto;
    height: auto;
    padding: 15px;
    margin-left: 0
}

.old-price {
    max-width: 250px;
    float: none
}

.timer-cont2 {
    width: 100%;
    margin: 20px auto;
    float: none
}

.b-page__work {
    background: 0 0;
    min-height: auto;
    width: 100%
}

.work-title {
    float: none
}

.work-ul {
    float: none;
    margin-bottom: 0
}

.structure-ul__item,
.work-ul__item {
    float: none;
    display: inline-block;
    margin-bottom: 25px
}

.b-page__finalform {
    padding: 30px 0;
    margin-top: 0;
    background: 0 0;
    width: 80%;
    min-height: 660px
}

.form-control,
.form-control.sel {
    box-sizing: border-box;
    width: 100%
}

.form-group {
    width: 80%
}

.modal-block {
    width: 90%;
    margin: 5%
}

.main-form,
.menu-hide,
footer {
    width: 100%
}

.promo-title-2 {
    float: none;
    margin: 0
}

.promo-2 {
    margin-left: 0;
    float: none;
    margin-top: 0
}

.promo-right-2 {
    top: 0;
    margin: 0 auto
}

.structure-ul {
    justify-content: center;
    margin: 0
}

footer {
    padding: 0 0 2%
}

footer a {
    color: #666;
    text-decoration: none
}

footer a:hover {
    color: #333;
    text-decoration: underline
}

.block4 img {}

.menu-hide,
.phoneMobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.phoneMobile-left {
    display: flex;
    flex-shrink: 0;

}

.phoneMobile-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    max-width: 100%;
}

.phoneMobile-right img {
    max-width: 33%;
}

.menu-hide {
    top: 0;
    position: fixed !important;
    background-color: #fff;
    padding: 1%;
    z-index: 1;
    margin-bottom: 0
}

.shopcart {
    background: url(../images/shop.png);
    width: 30px;
    height: 30px;

}

.phoneMobile img {
    padding: 0 1%
}

.phoneMobile p {
    float: left;
    display: none
}

.info-2 {
    margin-bottom: 3%
}

#popUp {
    width: 50%;
    bottom: 5px;
    background-color: rgba(0, 0, 0, .65);
    padding: 2%
}

#block-certificates img.img-cert,
.images-cert-m {
    width: 100%;
    height: 100%;
    margin: 0
}

.images-cert {
    display: none
}

.images-cert-m {
    display: block
}

.img-zoom,
.zoom {
    display: none
}

@media only screen and (max-width: 768px) {
    .b-page__block5 {
        background-size: 200%;

    }

    .pack-m,
    .pricess-m {
        width: 100%
    }

    .pack-m {
        text-align: center
    }

    .structure-ul__item {
        width: 100px
    }
}

@media only screen and (max-width: 621px) {
    .pack {
        width: 50% !important;
        display: inline-block;
        position: relative
    }

    .price {
        margin: 0
    }

    .header-info {
        margin-top: 14%
    }

    .button-m {
        margin-top: 3%
    }

    .info-4-m {
        margin-top: 2%
    }

    .b-page__header {
        padding: 0
    }

    .structure-ul__item {
        width: 100px;
        margin: 5%
    }
}

@media only screen and (max-width: 502px) {
    .blue-title {
        margin-top: 25px;
    }

    .doc img {
        display: none
    }

    .header-info-m {
        padding: 5%;
        width: 90%
    }

    .blue-title {
        padding-bottom: 15%
    }

    .doctor-name {
        padding-top: 0
    }

    .title {
        margin: 0 auto
    }

    .b-block6 {
        margin: 0
    }

    .b-head__logo img {
        width: 50%
    }
}

@media only screen and (max-width: 471px) {
    #popUp {
        width: 90%
    }
}

@media only screen and (max-width: 421px) {
    #standardfooter a {
        font-size: 16px;
    }
    .b-head__logo,
    .b-page__line,
    .pack2-2 img {
        text-align: center
    }

    .u143-4 {
        max-width: 90%
    }

    .block3-cont .sale50 {
        left: inherit;
        right: 0
    }

    .promo-2 {
        margin-left: 0
    }

    .pack2-2 {
        position: relative;
        margin: 0 auto
    }

    .pack2-2 img:not(.sale50) {
        max-width: 270px;
        margin: 7% auto
    }

    b-head {
        height: 85px
    }

    .advantage-right {
        line-height: 15px
    }

    .blue-title {
        margin-top: 10px;
    }

    .b-head__logo {
        float: none
    }

    .b-head__logo img {
        width: 100%
    }

    .logo-label {
        margin: -24% 4% 0 0;
        z-index: 1;
        position: relative
    }

    .header-title {
        font-size: 1.5em;
        line-height: 1.3;
        margin-top: 0
    }

    .info {
        margin: 0 auto
    }

    .order-btn.btn2 {
        margin: 1%
    }

    .block5-cont {
        text-align: left
    }

    .order-btn.btn3 {
        margin: 30px auto 10px;
        float: none
    }

    .title,
    .title.tal {
        font-size: 2em;
        margin: 5%;
        text-align: center
    }

    .title.tal {
        line-height: 1em
    }

    .title {
        line-height: 1.2em
    }

    .promo-title-2 {
        font-size: 1.9em
    }

    .advantage-left {
        margin-right: 0
    }

    footer a {
        font-size: 12px
    }

    .b-head__logo {
        margin-top: 15%
    }

    .b-page__finalform {
        padding: 0 0 30px
    }

    .tuv {
        width: 30px
    }

    .iso {
        width: 70px
    }

    .logo-top-fix {
        min-width: 110px
    }

    .title.mw-180 {
        width: 100%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 375px) {

    .header-title,
    .pack {
        margin-top: 0
    }

    .pack {
        margin-left: 2%;
        height: 200px;
        width: 40%
    }

    .b-page__header,
    .info {
        width: 100%
    }

    .info-4 {
        margin: 0 8% 0 0
    }

    .b-head__badge {
        margin-top: -10%
    }

    .info {
        box-sizing: border-box
    }

    .block3-cont {
        margin-right: 0
    }

    footer a {
        font-size: 10px
    }
}

@media only screen and (max-width: 320px) {
    .star img {
        display: none
    }
}

.header-info-m .red-arrow {
    position: initial;
    transform: rotate(0);
    max-width: 100px;
    display: block;
    margin: 0 auto
}

@media(max-width: 660px) {
    .b-page__block5 {
        background-position-x: -150px;

    }
}

@media screen and (max-width: 502px) {
    .header-title {}

    .b-page__block5 {
        background-position-x: 0px;

    }
}

@media screen and (max-width: 400px) {


    .b-page__block5 {
        background-position-x: 55%;

    }
}

.b-page__finalform {
    background: url(../images/bottomtlo.jpg);
    background-size: cover;
    width: 100% !important;
}